
.tabs li {
    /* Makes a horizontal row */

    right: 200px;
}
.tabs a {
    /* Make them block level
       and only as wide as they need */
    float: left;
    padding: 10px 40px;
    text-decoration: none;

    /* Default colors */
    color: whitesmoke;
    background: #032784;

    /* Only round the top corners */
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.tabs .active a {
    /* Colors when tab is active */
    background: #4883ff;
    color: white;
}
a:hover, a.on, a.tabs{
    color: white;
    background-color: #4883ff;
}

#app{
    text-align: left;
    right: 200px;
    
}

ul {
    background: #bedfff;
    list-style: none;
    /* contain the list items */
    overflow: hidden;

    /*margin: 0 auto;
    display: table;*/ /* ul will behave like a table now */

    text-align: center;
}

ul li {
    /* float: left; */
    display: inline-block;
}

ul li a {
    padding: 0px 0px;
    background: #000;
    color: #fff;

    /*float: left;*/
    /* some height would be nice */
    line-height: 3em;
    /* adjusting height */
    display: block; /* or inline-block */
}

#drop {
    text-align: left;
}
.errorMessage {
    font-weight: bold;
    color: red;
}